WG_IMAGE=isolated-wireguard:local
WG_CONTAINER_NAME=isolated-wireguard-client1
WG_INTERFACE=wgiso0
WG_LISTEN_PORT=45820
WG_ADDRESS=10.77.0.1/24
WG_CLIENT_ALLOWED_IPS=10.77.0.2/32
WG_TUNNEL_CLIENT_SUBNET=10.77.0.0/24
WG_EGRESS_IFACE=eth0
WG_MTU=1420
WG_NAT=1
